{% extends "index.html" %}
{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="chatbox">
        <div class="boxcontent">
          <ul class="ultitle">
            <li class="titleu">Active Users</li>
            <li class="titlem">Messages</li>
          </ul>
        </div>
        <div class="messages">
          <ul id="messages-list">
          </ul>
          <form id="message-input-form">
            <input id="message-text" type="text" name="messages" value="" placeholder="Start Typing!">
          </form>
        </div>
        <div class="users">
          <ul id="users-list">
          </ul>
        </div>
        <a class="logout" href="{{ url_for('login') }}">Log Out</a>
      </div>
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='messages.js') }}">
</script>
{% endblock %}
